.App {
  text-align: center;
}
.main {
  margin-top: 20px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 30px;
  width: 500px;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header {
  margin-bottom: 20px;
}
.Icon {
  margin-right: 8px;
}

.todoList{
  width: 500px;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input-group{
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-group-item:hover{
  background-color: gainsboro;
}